conda create -n pompei
conda activate pompei
cd "C:\Users\alban\Desktop\HANYANG\AI AND APPLICATION\Projet Pompeii"
conda install python=3.10
conda install pandas numpy
conda install pandas matplotlib
conda install -c plotly plotly